.logo {
  display: flex;
  justify-content: center;
  padding: 16px 0 16px 0; 
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 4px;
}
.menu-nav::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  display: block;
}
.menu-nav ul li a {
  display: inline-block;
  padding: .7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}