.font-1-xxl {
  font: 700 4rem/1.125 "Arsenal", sans-serif;
}

.font-1-xl {
  font: 700 2rem/1.25 "Arsenal", sans-serif;
}

.font-1-l {
  font: 400 1.5rem/1.5 "Arsenal", sans-serif;
}

.font-1-m {
  font: 400 1.125rem/1.333 "Arsenal", sans-serif;
}

.font-1-m-b {
  font: 700 1.125rem/1.333 "Arsenal", sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 "Arsenal", sans-serif;
}

.font-1-xs {
  font: 400 0.875rem/1.333 "Arsenal", sans-serif;
}

.font-2-l {
  font: 400 1.5rem/1.5 "Open Sans", sans-serif;
}

.font-2-l-b {
  font: 600 1.5rem/1.5 "Open Sans", sans-serif;
}

.font-2-m {
  font: 400 1.125rem/1.333 "Open Sans", sans-serif;
}

.font-2-s {
  font: 400 1rem/1.5 "Open Sans", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.333 "Open Sans", sans-serif;
}